body {
  --primary-color: #847850;
  --primary-color-rgb: 132, 120, 80;
  --primary-color-filter: invert(52%) sepia(3%) saturate(4587%) hue-rotate(9deg) brightness(88%) contrast(88%);
  --secondary-color: var(--paper-grey-800);
  --secondary-color-rgb: 117, 117, 117;
  --accent-color: #4f6884;
  --accent-color-rgb: 79, 104, 132;
  --placeholder-color: var(--paper-grey-500);
  --placeholder-color-rgb: 158, 158, 158;
  --logotype-color: #84979E;
  --logotype-color-filter: invert(73%) sepia(6%) saturate(853%) hue-rotate(150deg) brightness(91%) contrast(79%);
  --headerHeight: 59.5px;
  font-family: 'Lato', sans-serif;
  color: var(--secondary-color);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/resources/fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/resources/fonts/Lato/Lato-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/resources/fonts/Lato/Lato-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/resources/fonts/Lato/Lato-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/resources/fonts/Lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/resources/fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Yellowtail';
  font-display: swap;
  src: url(/resources/fonts/Yellowtail/Yellowtail-Regular.ttf) format('truetype');
}
